.login-button {
    background-color: #4b9f63;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #598943;
  }

  .mensaje {
    font-size: 14px;
    //background-color: #3498db;
    color: #133f16;
    padding: 10px 10px;
    border-radius: 5px;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}